<div>
  <h6 id="favorite-text" display="none"></h6>
  <form class="<%= (pokemon.favoritesArr.includes(pokemon.id) ? 'hidden toggle' : 'toggle') %>" id="add-favorite" >
    <input type="hidden" name="id" id="add" value="<%= pokemon.id %>" />
    <button class="star" type="submit"><span>&#9734</span></button>
  </form>
  <form class="<%= (!pokemon.favoritesArr.includes(pokemon.id) ? 'hidden toggle' : 'toggle') %>" id="delete-favorite" >
    <input type="hidden" name="id" id="delete" value="<%= pokemon.id %>" />
    <button class="star" type="submit"><span>&#9733</span></button>
  </form>
</div>