<header>
<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav role="navigation" class="nav-bar">
  <a href="/details/<%= pokemon.national_dex_id %>"><img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" /></a>
  <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/"><li>Home</li></a>
        <a href="/search"><li>Search</li></a>
        <a href="/favorites"><li>Favorites</li></a>
        <a href="/about-us"><li>About Us</li></a>
      </ul>
  </header>  