<header>
    <nav class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/details/<%= pokemon.national_dex_id %>"><img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" /></a></li>
        <li><a href="#">Drop down pokeball</a></li>
        <li><a href="/detail">One pokemon detail view</a></li>
      </ul>
      <!-- <a href="http://pokemondb.net/pokedex/pikachu"><img src="https://img.pokemondb.net/sprites/black-white/normal/pikachu-f.png" alt="Pikachu"></a> -->
      <!-- Drop Down Menu -->
    </nav>
  </header>  