<header>
  <nav class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="#">Random Pokemon</a></li>
      <li><a href="#">Drop down pokeball</a></li>
    </ul>
    <a href="http://pokemondb.net/pokedex/pikachu"><img src="https://img.pokemondb.net/sprites/black-white/normal/pikachu-f.png" alt="Pikachu"></a>
    <!-- Drop Down Menu -->
  </nav>
</header>