<header>
  <nav class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Random Pokemon</a></li>
      <li><a href="#">Drop down pokeball</a></li>
      <li><a href="/detail">One pokemon detail view</a></li>
    </ul>
  </nav>
</header>