<form action="/search" method="POST" id="page-form">
  <select onchange="this.form.submit()" name="pages" form="page-form">
      <option>0</option>
      <option value="0">1</option>
      <option value="1">2</option>
      <option value="2">3</option>
      <option value="3">4</option>
      <option value="4">5</option>
      <option value="5">6</option>
      <option value="6">7</option>
      <option value="7">8</option>
      <option value="8">9</option>
      <option value="9">10</option> 
</select>
</form>