<form action="/searchBy" method="POST">
  <input type="text" placeholder="Enter search here..." name="search"></input>
  <fieldset>
    <label for="name">
      <span>Name</span>
      <input type="radio" name="search" value="name" required>
    </label>
    <label for="type">
      <span>Type</span>
      <input type="radio" name="search" value="type" required>
    </label>
    <label for="generation">
      <span>Generation</span>
      <input type="radio" name="search" value="generation" required>
    </label>
  </fieldset>
</form>