* {
  box-sizing: border-box;
  font-size: 62.5%;
  
}

body {
  width: 480px;
  margin: 0 auto;
  background-color: yellow;

}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    max-width: 47.9375rem;
    margin: 0 auto;
    background-color: orange;

  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 60rem;
    margin: 0 auto;
    background-color: red;

  }
}