.wrapper {
  background: #37505C;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 5px;
  grid-template-columns: 5% 90% 5%;
}

.wrapper ul {
  text-align: center;
}

.wrapper li {
  display: inline;
}

.wrapper ul li {
  color: white;
}

.poke-box {
  background-color: #DBCBD8;
  grid-area: 2 / 2 / 2 / 2;
}

.poke-box img {
  float: left;
  width: 40%;
  height: 60%;
}

.poke-box span {
  display: block;
}

.strength-box {
  grid-area: 3 / 1 / 3 / 4;
}

.strength-box li {
  border-radius: 10px;
  background: grey;
}

.weakness-box {
  grid-area: 4 / 1 / 4 / 4;
}

.weakness-box span {
  border-radius: 10px;
  background: brown;
}

.description-box {
  background-color: #DBCBD8;
  grid-area: 5 / 1 / 5 / 4;
}

.move-box {
  background: lightcoral;
  grid-area: 6 / 1 / 6 / 4;
}


@media screen and (min-width: 425px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

}

/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}


.row {
  position: relative;
  border: 1px solid black;
}

.row-article {
  height: 200px;
  width: 100%;
  /* object-fit: cover; */
}

.pokemon-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

