@font-face {
  font-family: Pokemon;
  src: url('../style/fonts/Pokemon-Hollow.ttf');
  font-family: Pokemon-solid;
  src: url('../style/fonts/Pokemon-Solid.ttf')
}

.wrapper {
  max-width: 70%;
  background: #37505C;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 5px;
  grid-template-columns: 5% 90% 5%;
  margin: auto;
}

.wrapper ul {
  text-align: center;
}

.wrapper li {
  display: inline;
}

.wrapper ul li {
  color: white;
}

.poke-box {
  border: 20px solid #b2ada9;
  grid-area: 2 / 2 / 2 / 2;
}

.poke-box img {
  width: 50%;
  height: 60%;
  display: block;
  margin: auto;
}

.poke-box h2 {
  font-size: 150%;
  padding: 1%;
  text-shadow: 2px 2px black;
}

#id {
  font-family: Pokemon-solid;
  color: #75be20;
  display: block;
  margin-left: 40%;
}

#name {
  font-family: Pokemon-solid;
  color: #cddf6a;
  display: block;
  margin-left: 40%;
}

.strength-box {
  grid-area: 3 / 1 / 3 / 4;
}

.strength-box li {
  border-radius: 10px;
}

.weakness-box {
  grid-area: 4 / 1 / 4 / 4;
}

.description-box {
  background-color: #c4d0d9;
  grid-area: 5 / 1 / 5 / 4;
  height: 140%;
}

.move-box {
  background: #9d9c9a;
  grid-area: 6 / 1 / 6 / 4;
}

.type-box li{
  display: block;
  color: pink;
}

.move-table {
  font-size: 120%;
  border-collapse: collapse;
  width: 100%;
}

.move-table td, .move-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.move-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a69e70;
  color: white;
}



/* @media screen and (min-width: 425px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

} */

/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.row {
  position: relative;
  border: 1px solid black;
}

.row h2 {
  padding: 10px;
  text-align: center;
  font-size: 150%;
}

.pokemon-title {
  font-family: Pokemon-solid;
  color: #cddf6a;
  text-shadow: 2px 2px black;
}

.row-article {
  height: 200px;
  width: 100%;
}


/* *********************************** */
/* Home Page CSS */
/* *********************************** */
.home-page {
  max-width: 80%;
  margin: auto;
}

.home-page section {
  margin: 10%;
}

.search-button {
  height: 200px;
  width: 100%;
  display: block;
}

.fav-button {
  height: 200px;
  width: 100%;
  display: block;
}
/* *********************************** */
/* Form CSS */
/* *********************************** */

#enter-name {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  background: rgba(76, 175, 80, 0.3)
}

#forms {
  border: 1px solid black;
  padding: 10px;
  background: rgba(226, 119, 115, 0.3)
}

