<!DOCTYPE html>
<head>
  <title>Pokédex!</title>
  <%- include('partials/head') %>
</head>
<body>
  <main>
      <a href="pages/search"></a>
      <div>
        <h2>Search</h2>
      </div>
    </a>
    <a href="pages/favorites"></a>
      <div>
        <h2>My Favorites</h2>
      </div>
    </a>
    <a href="pages/teams"></a>
      <div>
        <h2>My Teams</h2>
      </div>
    </a>
  </main>
</body>