<!DOCTYPE html>
<head>
  <title>Pokédex!</title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('./partials/header') %>
  <main class="home-page">
    <section class="">
    <a href="/search">
      <img class="search-button" src="/images/search.png" />
    </a>
    </section>
    <section class="">
    <a href="/favorites">
      <img class="fav-button" src="/images/faves.png" />
    </a>
    </section>
  </main>
</body>