<!DOCTYPE html>
<head>
  <title>Pokédex!</title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('./partials/header') %>
  <main>
    <a href="pages/search">
      <img class="homepage" src="/images/search.png" />
    </a>
    <a href="pages/favorites">
      <img class="homepage" src="/images/faves.png" />
    </a>
    <a href="pages/teams">
      <img class="homepage" src="/images/teams.png" />
    </a>
  </main>
</body>