<!DOCTYPE html>
<head>
  <title>Pokédex!</title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('./partials/header', {pokemon: pokemon}) %>
  <main class="cards">
    <section class="row">
    <a href="/search">
      <img class="row-article" src="/images/search.png" />
    </a>
    </section>
    <section class="row">
    <a href="/favorites">
      <img class="row-article" src="/images/faves.png" />
    </a>
    </section>
    <!-- Saved Teams -->
    <!-- <a href="/teams">
      <img class="homepage" src="/images/teams.png" />
    </a> -->
  </main>
</body>