<!DOCTYPE html>
<head>
  <title>Hello World!</title>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/header') %>
  <main>
    <h1>Hello World!</h1>
    
    <div>
      <img src="https://via.placeholder.com/250" />
    </div>
    <p>Pokem ipsum dolor sit amet Toxicroak Dragonite Elite Four Stunky Klinklang Luxray. Grass Rayquaza Diglett sed do eiusmod tempor Vanilluxe quis nostrud exercitation Braviary. Brock Lairon Brock Weezing Bastiodon Hive Badge Litwick. Thunder Badge Baltoy Torterra Rapidash Pallet Town Glameow Woobat. Flying Nidoqueen Gigalith Medicham Sentret Steelix Mewtwo. </br></br>

    Sonic Boom Giovanni Weavile Kecleon Town Map Marshtomp Hitmonchan. Ice Bonsly Bellossom Combee Cofagrigus Carvanha Dig. Normal Mareep Girafarig Drifblim Gliscor Loudred Cacnea. Sinnoh Clefable Pichu Rotom Rhydon Poison Sting Corsola. Growl Starmie Volbeat Drifloon Rattata Poison Sting Meowth.</br></br> 
    
    Pikachu Nidoking Pokemon Graveler Raticate Razor Leaf Crawdaunt. Velit esse cillum dolore eu fugiat nulla pariatur Meowth Emboar Delibird Slakoth Mystery Gift Axew. Charmeleon Totodile Poochyena Furret Fraxure Totodile Misty. Harden Maractus Dusknoir Sableye Vaporeon Satoshi Tajiri Simisear. Gotta catch 'em all Garbodor Zigzagoon Leech Life Clefairy Nidorino Nidoking. </br></br>
    
    Wartortle Glitch City Rayquaza Cascoon Nidorina Raikou Tornadus. Thunder Badge Krookodile Beedrill Pawniard Shaymin Rotom Dunsparce. Glacier Badge Samurott Mantine Zangoose anim id est laborum Venipede Hydreigon. Dig Slowking Mawile Fearow Mewtwo Aipom James. Sunt in culpa Electivire Missingno Hitmonchan Kanto Harden Raikou. </br></br>
    
    Pikachu Beldum Starmie Psyduck Mewtwo Girafarig Blizzard. Vine Whip Froslass Gardevoir Kecleon Pachirisu Azelf Cubchoo. Venusaur Boldore but nothing happened Krokorok Phanpy Ralts Zoroark. Dragon Flareon Pokemon Fan Club Chairman Cherrim Lugia Registeel Venonat. Venusaur Giratina Mantine Swanna Purrloin Bulbasaur Ice Berry.</p>
  </main>
</body>