.star {
  max-height: 3rem;
  max-width: 3rem;
  font-size: 2rem;
  color: gold;
  background: transparent;
  border: none;
  cursor: pointer;

}

.hidden {
  display: none;

}

.invisible {
  visibility: hidden;

}