<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
      <%- include('../partials/header', {random: random}) %>
      <div class="about-us">
      <div>
        <h3>Dana Voros</h3>
        <img src="/images/dana.jpg" alt="Dana">
        <p>
            I am a software developer with a background in formal computer science and retail/customer service.  I have handled every interpersonal issue under the sun, am an accomplished cook, and a dabbling bassist. development-wise, I'm focused on back end programming.
        </p>
      </div>
      <div>
        <h3>Andrew "Roketsu" Roska</h3>
          <img src="/images/rocket.jpg" alt="rocket">
          <p>
              I am a software engineer with a background in retail and customer service.  I have a customer-focused attitude, and have years of problem-solving experience having solved just about every retail-related issue known to man.  I have been a gamer all my life, and have played most of the Pokémon games in the franchise.
          </p>
        </div>
        <div>
          <h3>Peter Murphy</h3>
            <img src="/images/peter.jpg" alt="Peter">
            <p>
                A software engineer, peter has a diverse background working across many spectrums from the service industry to serving in the US Navy. Hard working and team oriented, peter brings a different persepctive and skill set to each project he works on.
            </p>
          </div>
          <div>
            <h3>Alexander White</h3>
              <img src="/images/alex.jpg" alt="Alex">
              <p>
                An avid technologist, I grew up with a natural curiosity towards technology. My parents often found me dissasembling some piece of machinery or electronics. That inclination towards tech stayed with me as I grew and I found myself gravitating more and more towards software. After serving in the US Marines, I traveled up to beautiful Seattle to attend Code Fellows and here I am.
              </p>
            </div>
            </div>
  </body>
</html>