<!DOCTYPE html>
<html>

<head>
  <title>Favorite Pokémon</title>
  <%- include('../partials/head', {random: random}) %>
</head>
<body class="pagey">
    <%- include('./../partials/header') %>
    <!-- <div id="forms">
        <%- include('../partials/page-numbers') %>
      </div> -->
  <main class="cards">
    <% results.forEach(pokemon => { %>
      <%- include('./../partials/row', {pokemon: pokemon}) %>
    <% }); %>
  </main>
</body>
</html>