<!DOCTYPE html>
<html>
  <head>
    <title>PokéSearch</title>
    <%- include('partials/head') %>
  </head>

  <body>
    <main>
      <%i include('partials/search-form'%>
    </main>
  </body>
</html>