<!DOCTYPE html>
<html>
  <head>
    <title>PokéSearch</title>
    <%- include('partials/head') %>
  </head>

  <body>
    <main>
      <%- include('partials/search-form') %>
      <%- include('partials/row', {result: result}) %>
    </main>
  </body>
</html>